
<div class="container">
    <div ng-include="'toolbar.html'"></div>
    <form name="login" class="box">
        <h2 class="heading">Login</h2>
        <input type="text" id = "username" name="username" class="input-block-level" placeholder="User Name" ng-model="username">
        <input type="password" id = "name" name="password" class="input-block-level" placeholder="Password" ng-model="password">
        <input type="submit" value="login" class="btn btn-primary" ng-click="clickMe()"/>
        <a href="#/register" class="pull-right">Register to use Blue Card</a>
        <br> <br>
        <alert ng-repeat="alert in alerts" type="alert.type" >{{alert.msg}}</alert>
    </form>
</div>