<div class="container">
    <form name="login" class="box">
        <h2 class="heading">Register</h2>
        <input type="text" id = "username" name="username" class="input-block-level" placeholder="User Name" ng-model="username">
        <input type="password" id = "name" name="password" class="input-block-level" placeholder="Password" ng-model="password">
        <input type="password" id = "compname" name="compassword" class="input-block-level" placeholder="Confirm Password" ng-model="compassword">
        <input type="submit" class="btn btn-primary" ng-click="clickMe()"/>
        <a href="#/login" class="pull-right">Login</a>
        <br><br>
        <alert ng-repeat="alert in alerts" type="alert.type" >{{alert.msg}}</alert>
    </form>
</div>