<div class="container">
    <div ng-include="'toolbar.html'"></div>
    <form name="card" class="box">
        <h2 class="heading">New Card</h2>
        <input type="text" id="name" name="name" class="input-block-level" placeholder="Feature" ng-model="cardname">
        <textarea class="input-block-level" rows="10" id=description type="text" placeholder="Description"
                  name="description" ng-model="carddescription"></textarea>
        <div class="dropdown">
            <a class="dropdown-toggle">
                Assigned Owner:
            </a>

            {{owner}}
            <ul class="dropdown-menu">
                <li ng-repeat="name in users.userrights">
                    <a ng-click="setOwner(name.username);">{{name.username}}</a>
                </li>
            </ul>
        </div>
        <br>
        {{sessionData.Session.username}}
        <input type="submit" value="save" class="btn btn-primary" ng-click="clickMe()"/>
    </form>
    <div class="box" ng-show="data.cards.name">
    <div class="alert-success">

        {{data.cards.name}} has been added.
    </div>
    </div> <div class="box" ng-show="data.error">
    <div class="warning">

        {{data.cards.error}}
    </div>
    </div>

</div>